{% extends "frontPage/base.html" %}
{% block content %}
<div id="header-wrapper2">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Tezy</a></h1>
		</div>
	</div>
	<div id="menu">
		<ul>
			<li><a href="http://127.0.0.1:8000/" accesskey="1" title="">Homepage</a></li>
			<li><a href="https://www.tcifreight.in/" accesskey="2" title="" target="_blank">TCI</a></li>
			<li class="active"><a href="#" accesskey="3" title="">About Us</a></li>
			<li><a href="#" accesskey="4" title="">Join TechKnot</a></li>
			<li><a href="#" accesskey="5" title="">FAQ</a></li>
		</ul>
	</div>
	<br/>
	<div id="header2" class="container">
		<p>This project was made as part of Smart India Hackathon 2020 by Techknot.</p>
		<div id="menu2">
			<ul>
				<li><a href="https://www.linkedin.com/in/sahil-khandelwal-067625149/" accesskey="1" title="" target="_blank">Sahil Khandelwal</a></li>
				<li><a href="https://www.linkedin.com/in/sonali-sah-64b514149/" accesskey="2" title="" target="_blank">Sonali Sah</a></li>
				<li><a href="https://www.linkedin.com/in/harsh-chamoli-9519ba14a/" accesskey="3" title="" target="_blank">Harsh Chamoli</a></li>
				<li><a href="https://www.linkedin.com/in/tushar-kumar-17206714b/" accesskey="4" title="" target="_blank">Tushar Kumar</a></li>
				<li><a href="https://www.linkedin.com/in/arkaprabha-santra-25058012b/" accesskey="4" title="" target="_blank">Arka Prabha Santra</a></li>
				<li><a href="https://www.linkedin.com/in/akormous/" accesskey="5" title="" target="_blank">Akshat Chauhan</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock content %}