{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="https://fonts.googleapis.com/css?family=Inria+Sans&display=swap" rel="stylesheet">
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'fonts.css' %}" rel="stylesheet" type="text/css" media="all" />


</head>

<body>


<div id="header-wrapper">
	<div id="header" class="container">
	<div id="logo">
		<h1><a href="#">Tezy</a></h1>
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a href="#" accesskey="1" title="">Homepage</a></li>
			<li><a href="https://www.tcifreight.in/" accesskey="2" title="" target="_blank">TCI</a></li>
			<li><a href="/about" accesskey="3" title="">About Us</a></li>
			<li><a href="" accesskey="4" title="">Join TechKnot</a></li>
			<li><a href="" accesskey="5" title="">FAQ</a></li>
		</ul>
	</div>

	</div>
	<div id="banner-wrapper">
	<div id="banner" class="container">
		<div class="title">
			<h2>Get your tariff rate in just a few steps</h2>
			<span class="byline">Tariff rate predicted just for your cargo</span>
		</div>
		<ul class="actions">
			<li><a href="/locations" class="button">Get Started</a></li>
		</ul>
	</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. <a href="http://fotogrph.com/">Pexels</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>

</body>
</html>