{% extends "frontPage/base.html" %}
{% block content %}
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Tezy</a></h1>
		</div>
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a href="#" accesskey="1" title="">Homepage</a></li>
			<li><a href="https://www.tcifreight.in/" accesskey="2" title="" target="_blank">TCI</a></li>
			<li><a href="/about" accesskey="3" title="">About Us</a></li>
			<li><a href="" accesskey="4" title="">Join TechKnot</a></li>
			<li><a href="" accesskey="5" title="">FAQ</a></li>
		</ul>
	</div>
	<div id="banner-wrapper">
		<div id="banner" class="container">
			<div class="title">
				<h2>Get your tariff rate in just a few steps</h2>
				<span class="byline">Tariff rate predicted just for your cargo</span>
			</div>
			<ul class="actions">
				<li><a href="/locations" class="button">Get Started</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock content %}